body{
    width: 1230px;
    height: 580px;
    border: 2px solid black;
}
.pointToWin{
    width: 1170px;
    height: 25px;
    margin: 5px;
    margin-left: 20px;
    border: 2px solid  black;
}
.mainChessGame{
    display: flex;
    width: 900px;
    height: 485px;
    margin: 5px;
    margin-left: 200px;
    border: 1px solid  black;
}
.setting_control{
    display: flex;
    width: 1170px;
    height: 30px;
    margin: 10px;
    margin-left: 20px;
    border: 2px solid  black;
}
.chessBox {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);  
    width: 480px;
    height: 485px;
    margin: 0px;
    margin-left: 0px;
    border: 1px solid black;
}
.mainPlayer{
    display: block;
    width: 400px;
    height: 450px;
    margin: 10px;
    margin-left: 10px;
    border: 2px solid  black;
}
.play{
    width: 100px;
    height: 15px;
    margin: 5px;
    margin-left: 200px;
    border: 2px solid  black;
}
.pause{
    width: 100px;
    height: 15px;
    margin: 5px;
    margin-left: 200px;
    border: 2px solid  black;
}
.undo{
    width: 100px;
    height: 15px;
    margin: 10px;
    margin-left: 200px;
    border: 2px solid  black;
}
.character{
    width: 270px;
    height: 150px;
    margin: 10px;
    margin-left: 15px;
    border: 2px solid  black;
}
.time{
    width: 270px;
    height: 50px;
    margin: 10px;
    margin-left: 15px;
    border: 2px solid  black;
}
.square_white{
    background-color: white;
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    margin: 0.5px;
    margin-left: 0px;
}
.square_pink{
    background-color: pink;
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    margin: 0.5px;
    margin-left: 0px;
}
  